<h1>{{char.Name}}</h1>
<div class="larger-menu">
    <div class="left font-green">
        {{success}}
    </div>
    <input type="hidden" id="uid" value="{{char.Id}}"/>
    <div class="left">
        <div class="column" style="width: 50%;">
            <label for="accname">Character Name:</label>
            <input type="text" id="accname" minlength="2" value="{{char.Name}}"/>
        </div>
    </div>
    <div class="left">
        <div class="column" style="width: 25%;">
            <label for="Kamas">Kamas:</label>
            <input type="text" id="Kamas" minlength="2" value="{{char.Kamas}}"/>
        </div>
        <div class="column" style="width: 25%;">
            <label for="SpellPoints">SpellPoints:</label>
            <input type="text" id="SpellPoints" minlength="2" value="{{char.SpellPoints}}"/>
        </div>
        <div class="column" style="width: 25%;">
            <label for="StatsPoints">StatsPoints:</label>
            <input type="text" id="StatsPoints" minlength="2" value="{{char.StatsPoints}}"/>
        </div>
        <div class="column" style="width: 25%;">
            <label for="SpawnPointMapId">SpawnPointMapId:</label>
            <input type="text" id="SpawnPointMapId" minlength="2" value="{{char.SpawnPointMapId}}"/>
        </div>
    </div>

    <div class="right">
        <button onclick="userManager.update()">Update</button>
        <button onclick="userManager.update()">Edit Stats</button>
        <button onclick="userManager.update()">FM Item</button>
    </div>
</div>